
@{
    ViewBag.Title = "Profile";
}

<h2>Profile Details</h2>
<table>
<tr>
    <th>User Name</th>
    <th>Password</th>
</tr>
    <tr>
        <td>
            @ViewBag.UserName
        </td>
        <td>
            @ViewBag.UserPwd
        </td>
    </tr>
</table>

