@model EMS.Models.ClsEmployee
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="/" method="post">
    <table>
        <tr>
            <th>
                User Name : 
            </th>
            <td>
                @Html.TextBoxFor(e => e.UName)

            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(e => e.UName)
            </td>
        </tr>

        <tr>
            <th>
                Password : 
            </th>
            <td>
                @Html.PasswordFor(e => e.PWD)
            </td>
            <td style="color:red">
                @Html.ValidationMessageFor(e => e.PWD)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button>Register Me..</button>
            </td>
            
        </tr>
    </table>

</form>

